.Oogle {
  background-color: rgb(186, 228, 185);

  .legend div {
    display: inline-block;
  }

  .legendBar {
    width: 100px;
    height:5px;
    margin-left:4px;
    margin-right: 0px;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
  }


  .arrows {
    text-align: left;
    width: 20px;
    height: 20px;
    background-image: url(https://lmd-bucket.s3.us-east-2.amazonaws.com/sketches/oogle/assets/arrows.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-size: 40px 20px;
    margin-left: -10px;
  }

  .arrows:hover {
    background-image: url(https://lmd-bucket.s3.us-east-2.amazonaws.com/sketches/oogle/assets/arrows.png);
    background-position: -21px 0px;
  }

  .feedback a {
    color: black;
    text-decoration: none;
  }

  .feedback a:hover {
    color: #343A40;
  }

  #dude {
    width: 50px;
    height: 50px;
    background-image: url(https://lmd-bucket.s3.us-east-2.amazonaws.com/sketches/oogle/assets/dude.png);
    background-repeat: no-repeat;
    background-position: -4px -9px;
  }
  //
  // #mapContainer {
  //   flex: 1;
  // }
  //
  // #mapContainer svg {
  //   height: 100%;
  //   width: 100%;
  // }

  #BRButtons {
    position: fixed;
    bottom: 20px;
    right: 10px;

    button {
      padding: 10px;
      // background: gray;
      border: 1px solid black;
    }
  }

//   #directionsList {
//     display: none;
//     padding-bottom: 30px;
//   }
//
  #mapData {
    position: fixed;
    background-color: white;
    bottom: 0;
    right: 0;
    font-size: 9px;
    color:black;
  }

  #mapData span {
    padding-right:15px;
    padding-left:5px;
  }

  .mobileContainer {
    width:100%;
    height:100%;
  }

  #blueBoxMobile {
    width:100%;
    height: 180px;
    left: 0px;
    top: 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow-y: scroll;
  }


  #locationsListMobile {
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100;
  }

  #directionsMobile {
    position: fixed;
    z-index: 100;
    overflow-y: scroll;
    width:100%;
    bottom: 0px;
    background-color: white;
    box-shadow: 0 -4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  #directionsListMobile {
    display: none;
    position: relative;
    top: 0;
    padding-bottom: 30px;

  }

  #buttonsMobile {
    position: fixed;
    bottom: 20px;
    right: 10px;
  }

  #whiteBoxContainerMobile {
    position: relative;
    pointer-events: all;
    overflow-y: scroll;
    width:100%;
    height: 100%;
  }

  #mapContainerMobile {
    pointer-events: all;
    width:100%;
    height: 100%;
  }

  #mapContainerMobile svg {
    height: 100%;
    width:100%;
  }


  #BRButtons {
    position: fixed;
    z-index: 10;

  }

  .buttonsDown {
    bottom: 20px;
    right: 10px;
  }


  .buttonsUp {
    bottom: 130px;
    right: 10px;
  }

  .summarySymbol {
    position: absolute;
    top: 24px;
    right: 30px;
    color: darkgray;
  }




  .sidebarContainer {
    padding : 20px;
    padding-left: 30px;
    padding-right:30px;
  }

  .hamburger {
    cursor: pointer;
  }

  .bar {
    width: 35px;
    height: 5px;
    background-color: #ffffff;
    margin: 6px 0;
    transition: 0.4s;
  }

  .directions {
    height: 100%;
    padding-bottom: 30px;
  }

  .directionsBox {
    color: white;
    padding-bottom:20px;
    width: 100%;
    background-color: rgb(67, 133, 245);
  }

  .directionsBox h1 {
    font-family: googleFont;
  }

  .listItemL {
    padding: 15px;
  }

  .listItemL, .listItemD {
    padding-left:30px;
    padding-right: 30px;
    background-color: white;
  }

  .listItemD {
    padding-top: 15px;
  }

  .listItemL:hover {
    background-color: #F0F0F0;
  }

  .listItemL img {
    padding-right: 15px;
  }

  .listItemPodL .listItemPodD {
    padding: 20px;
  }

  .listItemPodD img {
    margin-right: 20px;
  }

  .directionsDis {
    padding-top: 10px;
    font-size: 8pt;
  }



  .directionText {
    display: inline-block;
  }

  .summaryDis {
    font-size : 22px;
  }
  .directionsTime {
    color: rgb(25, 129, 57);
  }

  .directionsDeets {
    font-size: 13px;
    color: rgb(100, 100, 100);
  }

  .directionsDistance {
    color: rgb(117, 117, 117);
  }


  .finalD {
    font-weight: bold;
  }


  .routeimg {
    max-width:12px;
    height:auto;
    padding-top: 10px;
  }

  form.enterD input[type=text] {
    color: white;
    width: 100%;
    background: transparent;
    border: none;
    padding-top: 10px;
    border-bottom: 1px solid rgb(134,172,247);
  }

  form.enterD input[type=text]::placeholder {
    color: rgb(205, 215, 234);
  }

  input:focus{
    outline: none;
  }

  .center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }



  .visible {
    visibility: visible;
    display:block;
  }

  .hidden {
    visibility: hidden;
    display: none;
  }



  .TLButtons {
    position: fixed;
    top: 10px;
    left: 10px;
    text-align: center;
  }


  .mapButton {
    font-size:20px;
    text-align: center;
    color: darkgray;

    margin: 10 auto;
    padding: 0;
    display: inline-block;
    line-height: 50px;
    text-align: center;
  }
}
