.Oogle {

  .labels {
    position: absolute;
  }

  button {
      position: absolute;
      padding: 20px;
      border: 1px solid white;
      top: 30px;
  }

  .rotateR {
    left: 30px;
  }

  .rotateL {
    left: 140px;
  }
}
