.VorTech {

  .Frame {
    .content {
      .flush {
        pointer-events: all;
      }
      
    }
  }

.flush {
  width: 150px;
  height: 60px;


  button {
    // padding: 10px;
    color: white;
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-origin: top right;
    // border: 1px solid white;

    // transform: rotate(0deg);

    img {
      width: 100%;
      height: 100%;
    }
  }
}


}
