.TrackLights {

  .barVert {
    display:flex;
    flex-direction: column;
    height: 100%;

    .lights {
      width: 80px;
      background-size: 50px 150px;
      background-repeat: repeat-y;
      background-position: center;
    }
    .switch {
      // width: 80px;
      // height: 30px;
      padding: 15px 25px;


    }
  }

  .barHoriz {
    display:flex;
    flex-direction: row;

    .lights {
      height: 50px;
      background-size: 150px 50px;
      background-repeat: repeat-x;
    }

    .switch {
      width: 30px;
      height: 50px;
      padding: 12px;
    }
  }

  .lightBar {

    .lights {
      flex: 1;

      // background: green;
      // background-position: center;
      // background-position: cover;


    }

    .switch {
      // padding: 10px;
      // border-left: 1px solid black;
      position: relative;
      display: inline-block;



      input {
        height: 15px;
        width: 15px;
        background: blue;
        border: 1px solid black;
      }


    }

  }



  .Frame.lightsOn {
    .window {
      // box-shadow: -40px 40px 40px #ffffff; /* #6c6c6c; */
      .barVert {
        .lights {
          background-image: url(https://lmd-bucket.s3.us-east-2.amazonaws.com/sketches/homePage/tracklights/tracklights_vert.jpg);
        }
      }
      .barHoriz {
        .lights {
          background-image: url(https://lmd-bucket.s3.us-east-2.amazonaws.com/sketches/homePage/tracklights/tracklights.jpg);
        }
      }
    }

    // .lights {
    //   // background-image: url("https://lmd-bucket.s3.us-east-2.amazonaws.com/sketches/homePage/tracklights.jpg")
    // }
  }

  .Frame.lightsOff {
    .window {
      .barVert {
        .lights {
          background-image: url(https://lmd-bucket.s3.us-east-2.amazonaws.com/sketches/homePage/tracklights/tracklights_dark_vert.jpg);
        }
      }
      .barHoriz {
        .lights {
          background-image: url(https://lmd-bucket.s3.us-east-2.amazonaws.com/sketches/homePage/tracklights/tracklights_dark.jpg);
        }
      }
      // box-shadow: -40px -40px 40px #000000; /* #6c6c6c; */
    }
  }
}
