.Dig {
  background-color: blue;
  overflow: auto;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%; }
  .Dig .Frame .window .content {
    color: white;
    pointer-events: all; }
