@import "./styles/reset.scss";

html, body, #root {
  height: 100%;
  width: 100%;
}

.cursor-0 {
  cursor:url(./App/assets/cursors/0.png), auto !important;
}
.cursor-1 {
  cursor:url(./App/assets/cursors/1.png), auto !important;
}
.cursor-2 {
  cursor:url(./App/assets/cursors/2.png), auto !important;
}
.cursor-3 {
  cursor:url(./App/assets/cursors/3.png), auto !important;
}
.cursor-4 {
  cursor:url(./App/assets/cursors/4.png), auto !important;
}
.cursor-5 {
  cursor:url(./App/assets/cursors/5.png), auto !important;
}
