.DesktopIcon {
  position: absolute;
  pointer-events: all; }
  .DesktopIcon .content {
    pointer-events: none; }
  .DesktopIcon .desktop-text {
    text-align: center;
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px #000000; }
