.glassesIcon {
  margin-left: 5%;
  margin-top: 5%;
  height: 90%;
  width: 90%;
  background-image: url(./glasses.png);
  background-repeat: no-repeat;
  background-size: contain; }

.glassesFrame {
  position: absolute; }
