.glassesIcon {
  // position: fixed;
  // bottom: 40px;
  // right: 40px;
  // width: 80px;
  // height: 20px;
  margin-left:5%;
  margin-top: 5%;
  height: 90%;
  width: 90%;
  background-image: url(./glasses.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.glassesFrame {
  position: absolute;
  // bottom: 60px;
  // right: 30px;
}
