.FAQ-Background {
  background: rgba(0, 0, 0, .7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;


  .FAQFrame {


    height: 300px;
    width: 400px;
    // background-color: red;
    overflow: scroll;

  }
}
