.Door img {
  position: absolute; }

.Door.normDoor img {
  top: 0; }

.Door.normDoor .doorFrame {
  left: 0; }

.Door.normDoor .door {
  transition: left 0.5s; }

.Door.rotDoor {
  transform: rotate(90deg) translateX(90px) translateY(-90px); }
  .Door.rotDoor img {
    top: 0; }
  .Door.rotDoor .doorFrame {
    left: 0; }
  .Door.rotDoor .door {
    transition: left 0.5s; }

.Doors .Frame .window {
  border: 0px; }
  .Doors .Frame .window .content {
    pointer-events: none; }
