button.standardButton {
  font-size: 12px;
  padding: 10px;
  min-width: 100px;
  text-align: center;
  border: 1px solid black;
  border-radius: 6px; }
  button.standardButton:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fc03ad), color-stop(100%, #335ef6)); }

input.standardInput {
  font-size: 12px;
  padding: 15px 10px;
  text-align: left;
  border: 1px solid black;
  color: black;
  border-radius: 6px; }

input.standardInputWhite {
  font-size: 12px;
  padding: 15px 10px;
  text-align: left;
  border: 1px solid white;
  color: white;
  border-radius: 6px; }

.SideBar {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 0px;
  display: none;
  height: 100%;
  background-color: transparent;
  z-index: 200;
  color: white;
  /* adds animation for all transitions */
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out; }
  .SideBar .SideBar-Flex {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%; }
    .SideBar .SideBar-Flex .SideBar-Space {
      height: 34px; }
    .SideBar .SideBar-Flex .SideBar-Content {
      display: flex;
      flex-direction: column;
      flex: 1; }
      .SideBar .SideBar-Flex .SideBar-Content .active-tabs-panel {
        display: flex;
        flex: 1; }
      .SideBar .SideBar-Flex .SideBar-Content .inactive-tabs-panel {
        flex: 0 0; }
      .SideBar .SideBar-Flex .SideBar-Content .tabs {
        padding: 40px 20px 20px 20px;
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: transparent; }
      .SideBar .SideBar-Flex .SideBar-Content .Panel .Panel-title {
        font-size: 18px;
        padding: 10px 0 10px 0; }
  .SideBar .blueOutline {
    border-radius: 8px;
    border: 2px solid;
    color: white;
    border-image-slice: 1;
    border-width: 2px;
    border-image-source: linear-gradient(#743ad5, #d53a9d);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box; }
  .SideBar button.blueOutline, .SideBar input.blueOutline {
    padding: 15px; }
    .SideBar button.blueOutline:disabled, .SideBar input.blueOutline:disabled {
      color: rgba(255, 255, 255, 0.23); }
