.WaveForms {
  top: 0;
  left: 0;
  overflow: hidden;
  background-image: url(https://lmd-bucket.s3.us-east-2.amazonaws.com/sketches/waveforms/sky4.jpg);
  background-size: cover; }
  .WaveForms .Frame .window {
    background: transparent;
    box-shadow: -40px -40px 40px #ffffff;
    /* #6c6c6c; */
    border: 2px solid #ffffff; }
  .WaveForms .Frame .circleButton {
    background: #afafaf;
    color: #afafaf; }
    .WaveForms .Frame .circleButton:hover {
      background: #afafaf; }
  .WaveForms .Frame .innerC {
    background: white; }
    .WaveForms .Frame .innerC:hover {
      background: #afafaf; }
  .WaveForms .Frame .titlebar {
    color: white;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #1e03fc42));
    border-bottom: 2px solid #ffffff; }
  .WaveForms .react-player {
    position: absolute;
    top: 0;
    margin: auto;
    z-index: -100;
    overflow: hidden; }
  .WaveForms .mainContent {
    /* made titlebar position relative to fit this under without padding */
    /* padding-top: 22px; */
    z-index: 10;
    pointer-events: none; }
  .WaveForms .waveCover {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(45, 25, 255, 0.1); }
  .WaveForms .emojis {
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%; }
    .WaveForms .emojis img {
      position: absolute;
      height: 50px;
      width: 50px; }

@keyframes gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
  .WaveForms #defaultCanvas0 {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    pointer-events: none; }
  .WaveForms .ears .ear {
    background: transparent; }
  .WaveForms .moon {
    height: 100%;
    width: 100%;
    background-size: 120% 100%;
    background-position: -10px -15px;
    background-repeat: no-repeat; }
  .WaveForms .prayer {
    color: white;
    padding: 20px; }
  .WaveForms .liveStream {
    position: relative;
    z-index: 10;
    top: 420px;
    left: 20px;
    width: 190px; }
    .WaveForms .liveStream span {
      padding: 8px; }
    .WaveForms .liveStream .live {
      color: white;
      background-color: red;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px; }
    .WaveForms .liveStream .time {
      color: white;
      background-color: rgba(255, 255, 255, 0.3);
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px; }
    .WaveForms .liveStream .eye {
      color: white; }
  .WaveForms .bottomBar {
    width: 100%;
    height: 60px;
    position: fixed;
    bottom: 0px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #1e03fc42));
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap; }
    .WaveForms .bottomBar button {
      margin-top: 5px;
      width: 50px;
      height: 50px;
      font-size: 24px;
      background: transparent; }
    .WaveForms .bottomBar .bar-vid {
      flex: 1 1 auto;
      color: white; }
      .WaveForms .bottomBar .bar-vid button {
        color: #6666cc; }
    .WaveForms .bottomBar .bar-emojis {
      flex: 1 1 auto;
      display: flex;
      flex-direction: row;
      justify-content: center; }
      .WaveForms .bottomBar .bar-emojis button {
        flex: 0 0 auto; }
        .WaveForms .bottomBar .bar-emojis button img {
          width: 35px;
          height: 35px; }
    .WaveForms .bottomBar .bar-good-bad {
      flex: 1 1 auto;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      flex: 0 0 auto; }
      .WaveForms .bottomBar .bar-good-bad img {
        width: 35px;
        height: 35px; }
  .WaveForms .tweet {
    display: flex;
    flex-direction: column;
    padding: 10px 15px 10px 15px;
    font-family: "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
    font-size: 10px;
    font-weight: bold;
    line-height: 16px;
    background-color: rgba(255, 255, 255, 0.6); }
    .WaveForms .tweet hr {
      border: 1px solid #aaaadd88; }
    .WaveForms .tweet .tweet-top {
      display: flex;
      flex-direction: row;
      color: white;
      height: 50px;
      padding-bottom: 5px; }
      .WaveForms .tweet .tweet-top .tweeter-icon {
        flex: 0 0 auto;
        width: 50px;
        height: 50px;
        border-radius: 50%; }
        .WaveForms .tweet .tweet-top .tweeter-icon div {
          margin: 0 auto;
          height: 100%;
          width: auto; }
      .WaveForms .tweet .tweet-top .tweeter {
        flex: 1 1 auto;
        padding-top: 10px;
        padding-left: 10px;
        align-items: center; }
        .WaveForms .tweet .tweet-top .tweeter div a {
          text-decoration: none; }
          .WaveForms .tweet .tweet-top .tweeter div a:hover {
            text-decoration: underline; }
        .WaveForms .tweet .tweet-top .tweeter .person a {
          color: #6666cc;
          font-size: 18px; }
        .WaveForms .tweet .tweet-top .tweeter .tweet-handle a {
          color: #aaaadd;
          font-size: 14px; }
      .WaveForms .tweet .tweet-top .tweet-time {
        font-size: 20px; }
      .WaveForms .tweet .tweet-top .twitter-icon {
        width: 30px;
        flex: 0 0 auto;
        font-size: 24px;
        color: white; }
        .WaveForms .tweet .tweet-top .twitter-icon:hover {
          color: #aaaaff; }
    .WaveForms .tweet .tweet-content {
      color: #6666cc;
      font-size: 16px;
      font-weight: normal;
      line-height: 20px;
      padding-bottom: 5px; }
      .WaveForms .tweet .tweet-content span {
        vertical-align: baseline; }
      .WaveForms .tweet .tweet-content a {
        color: #111199;
        font-weight: normal;
        text-decoration: none;
        outline: 0 none; }
        .WaveForms .tweet .tweet-content a:hover {
          text-decoration: underline; }
    .WaveForms .tweet .tweet-metrics {
      font-size: 14px;
      color: #6666cc;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: stretch; }
      .WaveForms .tweet .tweet-metrics div {
        flex: 1 1 auto;
        text-align: center;
        line-height: 20px; }
        .WaveForms .tweet .tweet-metrics div span {
          padding-left: 5px;
          text-align: center;
          vertical-align: middle; }
  .WaveForms .confessional {
    padding: 15px;
    display: flex;
    flex-direction: column;
    color: white;
    background-color: rgba(0, 0, 50, 0.1); }
    .WaveForms .confessional .text-line0 {
      padding: 0px 0 20px 0; }
    .WaveForms .confessional .text-line1 {
      padding: 10px 0 20px 0; }
    .WaveForms .confessional .text-line2 {
      padding-bottom: 5px; }
    .WaveForms .confessional .MuiSelect-selectMenu {
      min-height: 14px; }
    .WaveForms .confessional .MuiInputLabel-outlined.MuiInputLabel-shrink {
      color: #00000066; }
    .WaveForms .confessional .MuiOutlinedInput-multiline, .WaveForms .confessional .MuiOutlinedInput-inputMarginDense {
      background-color: rgba(0, 0, 50, 0.1);
      color: #00000066;
      max-height: 80px; }
    .WaveForms .confessional .confessional-time {
      display: flex;
      flex-direction: row; }
      .WaveForms .confessional .confessional-time .MuiSelect-selectMenu {
        height: 14px; }
      .WaveForms .confessional .confessional-time .field {
        flex: 1 1 auto;
        padding: 0px 5px 0px 5px;
        min-width: 150px; }
    .WaveForms .confessional button {
      height: 30px;
      width: 100%;
      background-color: rgba(0, 0, 50, 0.2); }
  .WaveForms .confession-txt {
    padding: 20px;
    color: #6666cc;
    background: rgba(255, 255, 255, 0.3); }
  .WaveForms .DesktopIcon .desktop-text {
    box-shadow: -40px -40px 40px #ffffff;
    font-size: 18px;
    font-family: monospace; }
