.HomePage {
  background-image: url(https://lmd-bucket.s3.us-east-2.amazonaws.com/sketches/homePage/galaxy.png);
  background-size: cover;
  background-position: center;
  pointer-events: none; }
  .HomePage .outerFrame {
    pointer-events: none;
    box-shadow: 0px 0px 20px #000000;
    /* #6c6c6c; */
    background: transparent;
    position: absolute; }
  .HomePage .loading {
    position: absolute;
    top: 45%;
    width: 100%;
    font-size: 50px;
    text-align: center;
    color: white;
    vertical-align: middle;
    font-weight: normal; }
  .HomePage .Frame {
    pointer-events: none; }
    .HomePage .Frame .titlebar {
      pointer-events: all; }
  .HomePage .clouds {
    /*  made 0, was -200, because clouds were behind app-frame-box thing */
    z-index: 0;
    position: fixed;
    min-width: 100%;
    min-height: 100%; }
  .HomePage .MFA-deets {
    text-align: center;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    justify-content: center;
    display: flex;
    flex-direction: column;
    flex: 1; }
    .HomePage .MFA-deets div a {
      text-decoration: none;
      color: black; }
  .HomePage .Bar {
    padding: 6px;
    font-size: 30px; }
  .HomePage .WineBar {
    padding-top: 15px; }
  .HomePage .DJStation {
    padding: 6px;
    font-size: 30px; }
  .HomePage .canvas {
    pointer-events: all; }
  .HomePage .pools .poolContainer .pool {
    width: 300px;
    pointer-events: all;
    height: 300px;
    background-image: url(https://lmd-bucket.s3.us-east-2.amazonaws.com/sketches/homePage/waves.gif);
    background-size: cover; }
  .HomePage .room-info {
    padding: 10px;
    color: black;
    background-color: white;
    height: 200px; }
    .HomePage .room-info h3 {
      font-size: 14px; }
    .HomePage .room-info p {
      font-size: 10px; }
  .HomePage .MiniMap .otherAvatarsMiniMap {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 200px;
    height: 200px; }
    .HomePage .MiniMap .otherAvatarsMiniMap .avatars {
      position: relative;
      width: 200px;
      height: 200px; }
      .HomePage .MiniMap .otherAvatarsMiniMap .avatars .emojiMiniMap {
        position: absolute;
        font-size: 12px;
        margin-top: -6px;
        margin-left: -6px;
        width: 20px;
        height: 20px; }
  .HomePage .react-p5 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: all; }
