.HomePage {
  background-size: cover;
  background-position: center;
  pointer-events: none; }
  .HomePage .MFA-deets {
    text-align: center;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    justify-content: center;
    display: flex;
    flex-direction: column;
    flex: 1; }
    .HomePage .MFA-deets div a {
      text-decoration: none;
      color: black; }
  .HomePage .WineBar {
    padding: 6px;
    padding-top: 15px;
    font-size: 30px; }
  .HomePage .avatars {
    position: absolute;
    font-size: 36px;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh; }
    .HomePage .avatars .otherAvatars {
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh; }
      .HomePage .avatars .otherAvatars .otherAvatar {
        position: absolute;
        pointer-events: all; }
        .HomePage .avatars .otherAvatars .otherAvatar .tooltip {
          background-color: white;
          padding: 2px;
          border: 1px solid black;
          border-radius: 4px;
          font-size: 10px; }
    .HomePage .avatars .userAvatar {
      position: absolute;
      pointer-events: all; }
      .HomePage .avatars .userAvatar .emoji-wine {
        position: relative;
        top: -10px;
        left: 20px;
        font-size: 36px; }
  .HomePage .react-p5 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none; }
