@import "../../../styles/constants.scss";

.ClickMe {
  background-color: black;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;

  /* cursor: pointer !important; */

  background-repeat: repeat;

  .Frame {
    .window {
      border-color: $limeColor;
      .content {
        pointer-events: none;

        .btn {
          pointer-events: all;
        }
      }
    }

    .titlebar {
      border-bottom: 2px solid $limeColor;
    }
    .circleButton {
      background: $limeColor;

      &:hover {
        background: $limeColor;
      }
    }
  }


  .content {
    background-color: rgba(255, 255, 255, 0);
    pointer-events: none;
  }

  .window {
    background-color: rgba(255, 255, 255, 0);
  }

  .react-p5 {
    position: absolute;
    width: 100%;

    canvas {
      width: 100%;
    }
  }

  .loading {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: purple;
    z-index: 800;
  }

  button {
    height: 60px;
    font-size: 50px;

    img {
      height: 40px;
      width: 40px;
    }
  }
  .hands {
    button {
      margin: auto;
    }
  }
}


.point0 {
  cursor: url("https://lmd-bucket.s3.us-east-2.amazonaws.com/sketches/clickMe/cursors/like.png"), auto;
  button {
    cursor: url("https://lmd-bucket.s3.us-east-2.amazonaws.com/sketches/clickMe/cursors/like.png"), auto;
  }
}

.point1 {
  cursor: url("https://lmd-bucket.s3.us-east-2.amazonaws.com/sketches/clickMe/cursors/point1.png"), auto;

  button {
    cursor: url("https://lmd-bucket.s3.us-east-2.amazonaws.com/sketches/clickMe/cursors/point1.png"), auto;
  }
}

.point2 {
  cursor: url("https://lmd-bucket.s3.us-east-2.amazonaws.com/sketches/clickMe/cursors/point2.png"), auto;

  button {
    cursor: url("https://lmd-bucket.s3.us-east-2.amazonaws.com/sketches/clickMe/cursors/point2.png"), auto;
  }
}

.point3 {
  cursor: url("https://lmd-bucket.s3.us-east-2.amazonaws.com/sketches/clickMe/cursors/point3.png"), auto;

  button {
    cursor: url("https://lmd-bucket.s3.us-east-2.amazonaws.com/sketches/clickMe/cursors/point3.png"), auto;
  }
}

.point4 {
  cursor: url("https://lmd-bucket.s3.us-east-2.amazonaws.com/sketches/clickMe/cursors/point4.png"), auto;

  button {
    cursor: url("https://lmd-bucket.s3.us-east-2.amazonaws.com/sketches/clickMe/cursors/point4.png"), auto;
  }
}

.kiss {
  cursor: url("https://lmd-bucket.s3.us-east-2.amazonaws.com/sketches/clickMe/cursors/kiss.png"), auto;

  button {
    cursor: url("https://lmd-bucket.s3.us-east-2.amazonaws.com/sketches/clickMe/cursors/kiss.png"), auto;
  }
}

.erase {
  cursor: url("https://lmd-bucket.s3.us-east-2.amazonaws.com/sketches/clickMe/cursors/eraser.png"), auto;

  button {
    cursor: url("https://lmd-bucket.s3.us-east-2.amazonaws.com/sketches/clickMe/cursors/eraser.png"), auto;
  }
}
/* https://media.giphy.com/media/3o7btNNSCfjnn14imk/giphy.gif */
/* peeps glitch https://media.giphy.com/media/2shBNJSPTrpWvoXfpD/source.gif */
// .Header {
//   border-color: lime;
// }
