.ClickMe {
  background-color: black;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  /* cursor: pointer !important; */
  background-repeat: repeat; }
  .ClickMe .content {
    background-color: rgba(255, 255, 255, 0);
    pointer-events: all; }
  .ClickMe .window {
    background-color: rgba(255, 255, 255, 0); }
  .ClickMe .react-p5 {
    position: absolute;
    width: 100%; }
    .ClickMe .react-p5 canvas {
      width: 100%; }
  .ClickMe .loading {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: purple;
    z-index: 800; }
  .ClickMe button {
    height: 60px;
    font-size: 50px; }
    .ClickMe button img {
      height: 40px;
      width: 40px; }
  .ClickMe .hands button {
    margin: auto; }

.point0 {
  cursor: url("https://lmd-bucket.s3.us-east-2.amazonaws.com/sketches/clickMe/cursors/point0.png"), auto; }
  .point0 button {
    cursor: url("https://lmd-bucket.s3.us-east-2.amazonaws.com/sketches/clickMe/cursors/point0.png"), auto; }

.point1 {
  cursor: url("https://lmd-bucket.s3.us-east-2.amazonaws.com/sketches/clickMe/cursors/point1.png"), auto; }
  .point1 button {
    cursor: url("https://lmd-bucket.s3.us-east-2.amazonaws.com/sketches/clickMe/cursors/point1.png"), auto; }

.point2 {
  cursor: url("https://lmd-bucket.s3.us-east-2.amazonaws.com/sketches/clickMe/cursors/point2.png"), auto; }
  .point2 button {
    cursor: url("https://lmd-bucket.s3.us-east-2.amazonaws.com/sketches/clickMe/cursors/point2.png"), auto; }

.point3 {
  cursor: url("https://lmd-bucket.s3.us-east-2.amazonaws.com/sketches/clickMe/cursors/point3.png"), auto; }
  .point3 button {
    cursor: url("https://lmd-bucket.s3.us-east-2.amazonaws.com/sketches/clickMe/cursors/point3.png"), auto; }

.point4 {
  cursor: url("https://lmd-bucket.s3.us-east-2.amazonaws.com/sketches/clickMe/cursors/point4.png"), auto; }
  .point4 button {
    cursor: url("https://lmd-bucket.s3.us-east-2.amazonaws.com/sketches/clickMe/cursors/point4.png"), auto; }

.kiss {
  cursor: url("https://lmd-bucket.s3.us-east-2.amazonaws.com/sketches/clickMe/cursors/kiss.png"), auto; }
  .kiss button {
    cursor: url("https://lmd-bucket.s3.us-east-2.amazonaws.com/sketches/clickMe/cursors/kiss.png"), auto; }

.erase {
  cursor: url("https://lmd-bucket.s3.us-east-2.amazonaws.com/sketches/clickMe/cursors/eraser.png"), auto; }
  .erase button {
    cursor: url("https://lmd-bucket.s3.us-east-2.amazonaws.com/sketches/clickMe/cursors/eraser.png"), auto; }

/* https://media.giphy.com/media/3o7btNNSCfjnn14imk/giphy.gif */
/* peeps glitch https://media.giphy.com/media/2shBNJSPTrpWvoXfpD/source.gif */
