.MobileFooter {
  position: fixed;
  background-color: black;
  color: white;
  z-index: 2000;
  bottom: 0px;
  height: 60px;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch; }
  .MobileFooter.landscape {
    position: fixed;
    height: 100%;
    right: 0px;
    left: auto;
    width: 60px;
    display: flex;
    flex-direction: column;
    align-items: stretch; }
    .MobileFooter.landscape .top {
      margin-top: 30px; }
  .MobileFooter button {
    color: white;
    flex: 1;
    font-size: 30px; }
  .MobileFooter .disabled {
    color: rgba(255, 255, 255, 0.4); }
  .MobileFooter .opened {
    color: white; }
  .MobileFooter .closed {
    color: rgba(255, 255, 255, 0.4); }
