.MobileFooter {
    position: fixed;
    background-color: black;
    color: white;
    z-index: 2000;

    bottom: 0px;
    height: 60px;
    left: 0;
    right: 0;
    width: 100%;
    
    display: flex;
    flex-direction: row;
    align-items: stretch;

    &.landscape {
        // top: 20px;
        height: 100%;
        left: 0;
        width: 60px;
        display: flex;
        flex-direction: column;
        align-items: stretch;

        .top {
            margin-top: 30px;
        }
    }

    button {
        color: white;
        flex: 1;
        font-size: 30px;
    }

    .disabled {
        color: rgba(255, 255, 255, 0.4);
    }
    .opened {
        color: white;
    }
    .closed {
        color: rgba(255, 255, 255, 0.4);
    }
}
