.SignInForm {
  height: 400px;
  width: 540px; }
  .SignInForm .SignIn-Box {
    padding: 20px; }
  .SignInForm .SignIn-Content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 360px;
    align-items: center;
    color: black; }
    .SignInForm .SignIn-Content .userBar {
      display: flex;
      height: 38px;
      flex: 0;
      flex-direction: row;
      align-self: flex-start;
      padding-bottom: 20px; }
      .SignInForm .SignIn-Content .userBar .avatar {
        font-size: 36px;
        height: 38px;
        width: 38px;
        padding-right: 15px; }
      .SignInForm .SignIn-Content .userBar input {
        flex: 1;
        border-bottom: 1px solid black;
        font-size: 14px; }
    .SignInForm .SignIn-Content .emoji-list {
      flex: 1;
      height: 80px;
      border: 1px solid gray;
      border-radius: 6px;
      overflow: scroll; }
      .SignInForm .SignIn-Content .emoji-list button {
        font-size: 18px;
        width: 24px;
        height: 24px;
        padding: 2px;
        border: none; }
    .SignInForm .SignIn-Content .submit {
      flex: 0 0 34px;
      padding-top: 20px; }
